<div class="center hero-unit">
	<h1>Welcome to My Journal CRM!</h1>
		<p>
			To pre-register for My Journal CRM click:
		</p>
		
		<p> <%= link_to 'Sign up now!',  "https://docs.google.com/forms/d/1qguTnC-XDX41i4_DYgkzG5APmwxClADdbh05Izr5YwE/viewform" , class: "btn btn-large btn-primary" %> </p>
		</div>
		
